.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dotRed {
  height: 50px;
  width: 50px;
  background-color: Red;
  border-radius: 50%;
  display: inline-block;
  color: white;
  margin: 4px;
}
.dotBlue {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  color: white;
  margin: 4px;
}
.dotGreen {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  color: white;
  margin: 4px;
}
.dotClass{
  text-align: center;
}
.lableclass{
  margin-top:15px;
}